.version.shop_trains /* version checker */
{
	color: #0000EC;
	background-color: #4CC258;
}

#page
{
	z-index: 1;
	width: 803px;
	min-height: 1507.9500000000003px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 16px;
	width: 0.01px;/* should not cover content below */
}

#pu222
{
	width: 0.01px;
	margin-left: -73px;
}

#u222
{
	z-index: 93;
	width: 358px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#ppbuttonu1349
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 690px;
}

#pbuttonu1349
{
	width: 0.01px;
	margin-left: 14px;
}

#buttonu1349
{
	z-index: 94;
	width: 136px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1349:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1349:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1349.ButtonSelected
{
	width: 136px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1350
{
	z-index: 96;
	height: 23px;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 8px;
}

#buttonu1360
{
	z-index: 98;
	width: 98px;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#buttonu1360:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1360:active
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1360.ButtonSelected
{
	width: 98px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1361
{
	z-index: 100;
	height: 23px;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 2px;
}

#u281
{
	z-index: 92;
	width: 259px;
	height: 44px;
	margin-top: 12px;
	position: relative;
}

#u281:hover
{
	width: 259px;
	height: 44px;
	min-height: 0px;
	margin: 12px 0px 0px;
}

#u281:active
{
	width: 259px;
	height: 44px;
	min-height: 0px;
	margin: 12px 0px 0px;
}

#pu562
{
	width: 0.01px;
	margin-left: 71px;
	margin-top: 57px;
}

#u562
{
	z-index: 86;
	width: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u560
{
	z-index: 87;
}

#u650
{
	z-index: 63;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 156px;
}

#u648
{
	z-index: 64;
}

#u663
{
	z-index: 69;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 312px;
}

#u661
{
	z-index: 70;
	margin-bottom: 1px;
}

#u692
{
	z-index: 79;
	width: 28px;
	position: relative;
	margin-right: -10000px;
	left: 452px;
}

#u690
{
	z-index: 80;
}

#u702
{
	z-index: 81;
	width: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 615px;
}

#u700
{
	z-index: 82;
}

#ppu644
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 4px;
}

#u644
{
	z-index: 84;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u644_states
{
	width: 60px;
	height: 28px;
}

#u658
{
	z-index: 66;
	width: 68px;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u658_states
{
	width: 68px;
	height: 28px;
}

#u681
{
	z-index: 72;
	width: 54px;
	position: relative;
	margin-right: -10000px;
	left: 310px;
}

#u681_states
{
	width: 54px;
	height: 28px;
}

#u687
{
	z-index: 76;
	width: 43px;
	position: relative;
	margin-right: -10000px;
	left: 455px;
}

#u687_states
{
	width: 43px;
	height: 28px;
}

#u1911
{
	z-index: 89;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	left: 591px;
}

#u1911_states
{
	width: 96px;
	height: 28px;
}

#u514
{
	z-index: 61;
	width: 728px;
	margin-left: 35px;
	margin-top: 16px;
	position: relative;
}

#u512
{
	z-index: 62;
	margin-bottom: -1px;
}

#pu2786-4
{
	width: 0.01px;
	margin-left: -108px;
	margin-top: 10px;
}

#u2786-4
{
	z-index: 156;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 35px;
}

#u2870
{
	z-index: 160;
	width: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3563
{
	z-index: 171;
	width: 73px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 839px;
}

#u3563_states
{
	float: left;
	width: 73px;
	height: 35px;
	background: transparent url("../images/u3563_states.png") no-repeat 0px 0px;
}

#u3563:hover #u3563_states
{
	background: transparent url("../images/u3563_states-r.png") no-repeat 0px 0px;
}

#u3563:active #u3563_states
{
	background: transparent url("../images/u3563_states-m.png") no-repeat 0px 0px;
}

#pu2759
{
	width: 0.01px;
	margin-left: -51px;
	margin-top: 55px;
}

#u2759
{
	z-index: 102;
	width: 318px;
	background-color: #CBD1EF;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	left: 50px;
	padding: 22px 19px 9.000000000000227px;
}

#u2769-6
{
	z-index: 124;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2767-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u2764
{
	z-index: 108;
	width: 317px;
	background-color: #CBD1EF;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	left: 498px;
	padding: 22px 19px 9px 20px;
}

#u2765-6
{
	z-index: 109;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2766-4
{
	z-index: 115;
	display: block;
	vertical-align: top;
	margin-top: 8px;
	position: relative;
}

#u2768
{
	z-index: 123;
	width: 356px;
	background-color: #CBD1EF;
	border-radius: 20px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 667px;
	left: 51px;
}

#u2770-4
{
	z-index: 130;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 20px;
}

#u2771
{
	z-index: 134;
	width: 356px;
	background-color: #CBD1EF;
	border-radius: 20px;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 667px;
	left: 498px;
}

#u2772-6
{
	z-index: 135;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 20px;
}

#u2773
{
	z-index: 141;
	width: 808px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 49px;
}

#pu2776
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2776
{
	z-index: 143;
	width: 350px;
	height: 357px;
	border-style: solid;
	border-width: 5px;
	border-color: #1B1B5B;
	background-color: transparent;
	border-radius: 21px;
	position: relative;
}

#u2777
{
	z-index: 144;
	width: 350px;
	height: 357px;
	border-style: solid;
	border-width: 5px;
	border-color: #1B1B5B;
	background-color: transparent;
	border-radius: 21px;
	margin-left: 1px;
	margin-top: 55px;
	position: relative;
}

#pu2774
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 448px;
}

#u2774
{
	z-index: 142;
	width: 350px;
	height: 357px;
	border-style: solid;
	border-width: 5px;
	border-color: #1B1B5B;
	background-color: transparent;
	border-radius: 21px;
	position: relative;
}

#u2775
{
	z-index: 145;
	width: 350px;
	height: 357px;
	border-style: solid;
	border-width: 5px;
	border-color: #1B1B5B;
	background-color: transparent;
	border-radius: 21px;
	margin-top: 54px;
	position: relative;
}

#u2778-4
{
	z-index: 146;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 751px;
	left: 518px;
}

#u2779-6
{
	z-index: 150;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 689px;
	left: 69px;
}

#u2890
{
	z-index: 162;
	width: 348px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 58px;
}

#u2898
{
	z-index: 164;
	width: 348px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 506px;
}

#u2905
{
	z-index: 166;
	width: 426px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 437px;
}

#u2912
{
	z-index: 168;
	width: 340px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 502px;
}

#u3681
{
	z-index: 174;
	width: 90px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 329px;
	left: 314px;
}

#u3686
{
	z-index: 175;
	width: 90px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 329px;
	left: 762px;
}

#u3691
{
	z-index: 176;
	width: 90px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 751px;
	left: 314px;
}

#u3696
{
	z-index: 177;
	width: 90px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 751px;
	left: 762px;
}

#u2761-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	margin-left: 315px;
	margin-top: 38px;
	position: relative;
}

#u2760
{
	z-index: 103;
	width: 32px;
	height: 17px;
	margin-left: 385px;
	margin-top: 1px;
	position: relative;
	background: transparent url("../images/more%20arrow%20btn-more%20normal.png") no-repeat left top;
	background-size: contain;
}

#u2760:hover
{
	width: 32px;
	height: 17px;
	min-height: 0px;
	margin: 1px 0px 0px 385px;
	background: transparent url("../images/more%20arrow%20btn-more%20rollover.png") no-repeat left top;
	background-size: contain;
}

#u2760:active
{
	width: 32px;
	height: 17px;
	min-height: 0px;
	margin: 1px 0px 0px 385px;
	background: transparent url("../images/more%20arrow%20btn-more%20active.png") no-repeat left top;
	background-size: contain;
}

#pu585
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 49px;
}

#u585
{
	z-index: 2;
	min-height: 176.84999999999968px;
	padding-bottom: 0px;
}

#u585_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 803px;
	left: -100px;
	padding-top: 22px;
	padding-bottom: 27px;
}

#pu592-4
{
	width: 0.01px;
	left: 41px;
	position: relative;
}

#u592-4
{
	z-index: 29;
	position: relative;
	margin-right: -10000px;
}

#u596-4
{
	z-index: 33;
	position: relative;
	margin-right: -10000px;
	left: 338px;
}

#u601
{
	z-index: 37;
	width: 20px;
	position: relative;
	margin-right: -10000px;
}

#u599
{
	z-index: 38;
}

#u609-4
{
	z-index: 39;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u476
{
	z-index: 5;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 375px;
}

#pu624
{
	width: 0.01px;
	left: 374px;
	margin-top: 10px;
	position: relative;
}

#u624
{
	z-index: 43;
	width: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u622
{
	z-index: 44;
}

#u632-4
{
	z-index: 45;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u496
{
	z-index: 7;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#pu601,#pu453
{
	width: 0.01px;
	left: 374px;
	margin-top: 11px;
	position: relative;
}

#u453
{
	z-index: 3;
	width: 21px;
	position: relative;
	margin-right: -10000px;
}

#u635-4
{
	z-index: 49;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u585-bw
{
	z-index: 2;
	min-height: 176.84999999999968px;
}

#u570
{
	z-index: 10;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 41px;
}

#u573
{
	z-index: 14;
	width: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 40px;
}

#u573_states
{
	width: 71px;
	height: 24px;
}

#u576
{
	z-index: 18;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 41px;
}

#u579
{
	z-index: 22;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 176px;
}

#u570_states,#u576_states,#u579_states
{
	width: 70px;
	height: 24px;
}

#u582
{
	z-index: 26;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 176px;
}

#u1914
{
	z-index: 54;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 780px;
}

#u582_states,#u1914_states
{
	width: 80px;
	height: 24px;
}

#u1917
{
	z-index: 58;
	width: 163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 780px;
}

#u1917_states
{
	width: 163px;
	height: 24px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 803px;
}

